body {
  width: 80%;
  margin: auto;
}


button {
  outline: none;
  border: 0;
  cursor: pointer;
  
}

.mainPage {
  display: grid;
  grid-template-columns: 50% 50%;
  
  justify-content: center;
  gap: 0.3em;

}


.navbar {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: bolder;


}
/* 
.search-form {
  
  color: white;
} */

.navbar_logo {
  
  color: red;
  font-size: 2rem;
  margin-right: 10px;
  text-align: center;
  /* align-items: center; */
  
  
}

/* .fab fa-youtube {
  color: red;
  margin: 10px;
} */

.search-input {
  margin: 10px;
  height: 1.5rem;
  outline: none;
}

.search-btn {
  
  background-color: white;
  color: black;
  height: 1.8rem;
  width: 1.8rem;
  
}

.showbox {
  display: inline-flex;
  
  /* width: 100%; */
  height: 10rem;
  border: 2px solid lightgray;
  margin: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: transform 200ms ease-in;
  

}

.showbox:hover {
  transform: scale(1.1);
}

.video {
  display: inline-flex;
  width: 100%;
  margin: 5px;
  
  cursor: pointer;
  transition: transform 200ms ease-in;
  align-items: center;
  
}


.thumbNail {
  width: 45%;
  /* height: 70%; */
  margin: 5px;
  padding: 3px;
  border: 2px solid lightgray;
}



.videoTitle {
  padding: 3px;
  font-size: 1rem;
  font-weight: bold;
}

.channelTitle {
  padding: 3px;
  font-size: 0.8rem;
}





