body {

  max-width: 70rem;
  margin: auto;
}


button {
  outline: none;
  border: 0;
  cursor: pointer;
  
}

li {
  list-style: none;
}

.mainPage {
  display: grid;
  grid-template-columns: 50% 50%;
  
  justify-content: center;
  gap: 0.3em;
  padding: .2em .2em 0em .2em;

}


.navbar {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: 4rem;
  align-items: center;
  /* justify-content: center; */
  /* margin: auto; */
  /* font-weight: bolder; */


}

.navbar_logo {
  display: flex;
  /* color: red; */
  
  margin: 2rem;
  text-align: center;
  align-items: center;
  
  
}

.fa-youtube {
  color: red;
  font-size: 2.7rem;
  
}


.search-form {
  display: flex;
  width: 100%;
  flex-basis: auto;
  align-items: center;
  margin-right: 2rem;
}

.search-input {
  /* display: flex; */
  flex-basis: 100%;
  /* margin: 10px; */
  height: 2.5rem;
  outline: none;
  font-size: 1.5rem;
}

.search-btn {
  
  background-color: white;
  color: black;
  height: 2.5rem;
  
  
}

.showbox {
  
  padding: 0.2em;  
  border: 1px solid darkblue;  
  transition: transform 200ms ease-in;
  

}

.showbox:hover {
  transform: scale(1.03);
}

.video {
  display: inline-flex;
  width: 100%;
  height: 100%;
  
  cursor: pointer;
  transition: transform 200ms ease-in;
  align-items: center;
  
}


.thumbNail {
  width: 40%;  
  height: 100%;
  
  padding: .2em;
  
}



.videoTitle {
  padding: .5em;
  font-size: 0.9em;
  font-weight: bold;
}

.channelTitle {
  padding: .5em;
  font-size: 0.7rem;
}

.playPage {
  width: 100%;
  display: inline-flex;
  
   
}


.playingVideo {    
  position: relative;  
  flex-direction: column;  
  width: 100%;
  margin-right: 0.2rem;
}

.player {
  
  top: 0;
  left: 0 ;
  right: 0;
  bottom: 0;
  width: 100%;
  
}


.playPageList {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
}

.playPage .showbox  { 
  width: 100%; 
  /* min-height: 100px; */
 
  margin-bottom: 0.2rem;


}

.playPageList .videoTitle, .channelTitle {
  font-size: 0.7rem;
  font-weight: normal;
}

.playPageList .channelTitle {
  font-size: 0.6rem;
}

.selectedDescription {
  display: flex;
  flex-direction: column;
  
  width: 97%;
  padding: 0.5rem;
  /* margin: 0; */
}

@media screen and (max-width: 48rem) {
  
  .navbar_title {
    display: none;
  }

  .search-input {
    width: 50%;
    flex-basis: none;
  }


  .mainPage {
    grid-template-columns: 100%;
    padding: 0.5 rem;
  }
  
  .playPage {
    
    flex-direction: column;
  }

  .playPageList {
    width: 100%;
    padding: 0em 0.2em 0em 0.2em;
  }

  .selectedDescription {
    display: none;
  }
}



